version: "3.9"

services:
  npm:
    image: jc21/nginx-proxy-manager:2.11.3
    container_name: npm
    restart: unless-stopped
    env_file:
      - ./.env.infra
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    environment:
      DISABLE_IPV6: "true"
    volumes:
      - ./data/npm:/data
      - ./data/letsencrypt:/etc/letsencrypt
    networks:
      - proxy-network

  shared_mongo:
    image: mongo:7.0
    container_name: shared_mongo
    restart: unless-stopped
    env_file:
      - ./.env.infra
    volumes:
      - ./data/mongo:/data/db
      - ./mongo_init:/docker-entrypoint-initdb.d
    networks:
      - infra-network

  shared_redis:
    image: bitnami/redis:7.2
    container_name: shared_redis
    restart: unless-stopped
    env_file:
      - ./.env.infra
    command: ["sh", "-c", "redis-server --requirepass \"$$REDIS_PASSWORD\" --appendonly yes"]
    volumes:
      - ./data/redis:/bitnami/redis/data
    networks:
      - infra-network

networks:
  proxy-network:
    external: true
  infra-network:
    external: true
