version: "3.9"

services:
  backend:
    build: .
    container_name: auth_backend
    env_file:
      - .env.example
    volumes:
      - ./:/app
    ports:
      - "8001:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
